# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Datos
datasets/
*.npy

# Modelos entrenados
*.h5
*.keras

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/